.popup-cont {
    display: flex;
    flex-direction: column;
    z-index: 1;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    background-color: white;
    min-width: fit-content;
    width: 25%;
    min-height: fit-content;
    height: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
